html {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-family: "Pacifico", "Computer Modern Typewriter", cursive;
    font-weight: 400;
    color: rgb(0, 137, 204); // (* 171 0.8) (* 255 0.8)
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    font-family: "Computer Modern Serif", serif;
    font-size: 1.5rem;
}

#content {
    padding: 0;
    margin: 0;
    border: 0;
    flex: 1;
    max-width: 48rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    margin: 0.5rem;
    border: 0;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem;
}

#intro {
    padding: 3rem;
}

#intro img {
    width: 8em;
    margin: 0em 0em 2em 2em;
    float: right;
}

#content article h1 {
    text-align: center;
}

.cardbox > a {
    display: block;
    flex: 1;
    width: 13rem;
    max-width: 13rem;
    min-height: 12rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
}

.cardbox > a:hover {
    background-color: white;
}

.cardbox > a > h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
}

.cardbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(4px);
}

.cvsection {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1rem 0rem;
    border-style: solid; // double;
    border-width: 0px 0px 0px 0.5rem;
    border-color: white;
    border-radius: 2rem;
}

.cvsection > h1 {
    //transform: rotate(-90deg);
    //"Computer Modern Typewriter"

    margin: 0;
    padding: 0;
    writing-mode: sideways-lr;
    color: white;
    -webkit-text-stroke: 7px black;
    paint-order: stroke fill;
    flex: 0;
}

.cvcard {
    background-color: white;
    margin: 0.5rem;
    border: 0;
    border-radius: 0.5em;
    padding: 1rem;
    font-size: 1.2rem;
    //display: flex;
    //flex-direction: column;
}

.cvcardheader {
    padding: 0;
    margin: 0 0 1em;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.cvcarddetails {
    font-family: "Computer Modern Typewriter";
    flex: 0.1;
    border: 1px solid red;
}

.cvcardheader > h2 {
    border: 1px solid red;
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: "Computer Modern Typewriter";
    color: rgb(0, 137, 204); // (* 171 0.8) (* 255 0.8)                             
}

#backbutton {
    text-decoration: none;
    color: rgb(0, 137, 204);
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 1.5rem;
    font-family: "Pacifico", "Computer Modern Typewriter", cursive;
    position: absolute;
    top: 1em;
    left: 1em;
}

#backbutton:hover {
    background-color: white;
}
